.login-page-cad {
  position: relative; /* Container principal */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-overlay-cad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 56, 106, 0.6);
  z-index: 2; /* Fica ENTRE o fundo e o formulário */
}

.form-container-cad {
  z-index: 5;
  width: 900px;
  height: 650px;
  transform: translateY(-160px);
}

.form-content-cad{
  width: 80%;
  height: 80%;
}


.login-title-cad {
  top: -80px;
  font-family: 'Modak';
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}


.form-group-cad {
  margin-bottom: 1px;
}

.form-group-cad label {
  font-size: 18px;
  padding: 2px;
  display: block;
  margin-bottom: 0.2rem;
  color: #3C3A3A;
  font-weight: 600;
  margin-left: 30px;
  transform: translateY(40px);
}

.form-group-cad input {
  width: 85%;
  margin: 30px;
  border: none;
  border-bottom: 2px solid #3C3A3A;
  background: transparent;
  font-size: 18px;
  text-align: center;
  transform: translateY(10px);
  outline: none;
  color: #000;
}

.login-button-cad {
  width: 50%;
  padding: 30px;
  background-color: #56386A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  align-items: center;
  margin: 0 auto;
  transform: translateY(10px);
}

.login-button-cad:hover {
  background-color: #3a2549;
}

.form-box-cad {
  transform: translateY(-60px);
  background-color: white;
  border-radius: 50px;
  height: 650px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 900px;
}

.button-container-cad {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
